In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import zscore

In [93]:
faccount_df = pd.read_csv("./dataset/faccount.txt")
ftxn2_df = pd.read_csv("./dataset/ftxn2.txt")

In [97]:
ftxn2_df.head()

,TXN_ID,TXTYPE,AMOUNT,FROMACCTID,TOACCTID,TXDATE,REFERENCE,ISFRAUD,ISFLAGGED
0,950060711303,PAYMENT,320,500607,800242,2020-01-22T17:00:00,Dinner with Shane,N,Y
1,950060711401,PAYMENT,48,500607,800111,2020-01-23T08:00:00,Breakfast with Steven,N,Y
2,950060711402,TRANSFER,6209,500607,500929,2020-01-23T13:00:00,Holiday Cost,N,Y
3,950060711403,PAYMENT,66,500607,800252,2020-01-23T17:00:00,Meal with Mary,N,Y
4,950060711501,PAYMENT,47,500607,800116,2020-01-24T08:00:00,Coffee with Brian,N,Y

In [98]:
print(faccount_df.columns)
print(ftxn2_df.columns)

Index(['ACCTID', 'ACCTTYPE', 'ACCTNAME', 'FIRSTNAME', 'SURNAME', 'DOB',
       'ACCTCREATED', 'ACCTRISK', 'ADDRESS', 'ADDRESS_LAT', 'ADDRESS_LON',
       'CATEGORY'],
      dtype='object')
Index(['TXN_ID', 'TXTYPE', 'AMOUNT', 'FROMACCTID', 'TOACCTID', 'TXDATE',
       'REFERENCE', 'ISFRAUD', 'ISFLAGGED'],
      dtype='object')

In [99]:
faccount_df['FULLNAME'] = faccount_df['FIRSTNAME']+" "+faccount_df['SURNAME']
faccount_df.head()

,ACCTID,ACCTTYPE,ACCTNAME,FIRSTNAME,SURNAME,DOB,ACCTCREATED,ACCTRISK,ADDRESS,ADDRESS_LAT,ADDRESS_LON,CATEGORY,FULLNAME
0,800039,BUSINESS,Young Supermarket,Kevin,Young,1982-02-23T00:00:00,2018-09-20T00:00:00,MEDIUM,BRISBANE,-27.512179,153.073105,Supermarket,Kevin Young
1,800040,BUSINESS,Williams Grocery,Lindsay,Williams,1959-02-20T00:00:00,2018-02-24T00:00:00,MEDIUM,BRISBANE,-27.504303,153.073470,Grocery,Lindsay Williams
2,800041,CREDIT,Myers Supermarket,Lisa,Myers,1982-09-04T00:00:00,2018-01-11T00:00:00,HIGH,BRISBANE,-27.484970,153.097588,Supermarket,Lisa Myers
3,800042,BUSINESS,Martinez Supermarket,Brittany,Martinez,1976-10-11T00:00:00,2018-12-04T00:00:00,MEDIUM,BRISBANE,-27.402357,153.056983,Supermarket,Brittany Martinez
4,800043,CREDIT,Taylor Grocery,David,Taylor,1978-01-23T00:00:00,2019-07-15T00:00:00,MEDIUM,BRISBANE,-27.473628,152.955089,Grocery,David Taylor

In [106]:
def id_to_name(id,id_name_dict):
    return id_name_dict[int(id)]


id_and_names = faccount_df[["ACCTID","FULLNAME"]].to_dict()

results = pd.DataFrame(columns=["FROMNAME", "TONAME"])

results["FROMNAME"] = np.vectorize(id_to_name)(ftxn2_df["FROMACCTID"], id_and_names)
results["TONAME"] = np.vectorize(id_to_name)(ftxn2_df["TOACCTID"], id_and_names)

results.head()

# result_1 = ftxn2_df.merge(id_and_names, left_on="FROMACCTID", right_on="ACCTID")
# result_1 = result_1.drop(columns="ACCTID")
# result_1 = result_1.rename(columns={"FULLNAME": "FROMNAME"})

# result_2 = result_1.merge(id_and_names, left_on="TOACCTID", right_on="ACCTID")
# result_2 = result_2.drop(columns="ACCTID")
# result_2 = result_2.rename(columns={"FULLNAME": "TONAME"})

# result_2.head()

KeyError: 500607