In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import zscore

In [2]:
ftxn2_pred_df = pd.read_csv("./dataset/ftxn2_predicted.txt")

In [7]:
ftxn2_pred_df[ftxn2_pred_df["ISFRAUD"] == 'Y']

# print(len(ftxn2_pred_df[ftxn2_pred_df["ISFRAUD"] == 'Y'])/len(ftxn2_pred_df))

         Unnamed: 0  AMOUNT  FROMACCTID  TOACCTID ISFRAUD
14               14     637      500606    500979       Y
20               20    9019      500606    500585       Y
26               26    9525      500606    500880       Y
42               42     497      500606    800214       Y
44               44    9334      500606    500342       Y
...             ...     ...         ...       ...     ...
1533058     1533058    4417      501340    501024       Y
1533059     1533059     391      501340    800293       Y
1533061     1533061    9159      501340    500730       Y
1533062     1533062     323      501340    800201       Y
1533064     1533064    3997      501340    501193       Y

[344060 rows x 5 columns]